
body {
  background-color: #334587;
  color: white;
  
}

/*Information Field*/

#info
{
  position:relative;
  top:1em;
  left:10em;
  width:20em;
  height:15em;
  border-style: solid;
  border-color:black;
  border-width:2px;
  float:left;
}

#infoText1,#infoText2, #infoText2 *
{
  margin:1em;
  font-weight:bold;
}

/*Input Fields*/

h2
{
  font-size:1em;
  font-weight:bold;
  text-align: center;
  line-height:0em;
  padding:0em;
  margin-top:2em;
  margin-bottom:0em;
}

#input
{
  position:relative;
  float:left;
  top:1em;
  left:5em;
  width:20em;
  height:20em;
  border-style: solid;
  border-color:black;
  border-width:2px;
  border-radius:2px;
}

label[for='text']
{
  color:white;
}

.mdl-textfield
{
  text-align: center;
  color:white;
  width:10em;
  float: left;
  margin-left:4em;
}

#container
{
  width:15em;
  float:left;
  margin-left:2.5em;
  margin-top:1em;
}

#startCollection
{
  float:left;
  margin-left:4em;
  text-align: center;
}

/*Graph Field*/

#title *
{
  font-size:7rem;
  margin-top:1em;
  margin-left:4em;
  float:left;
}

#output
{
  position:relative;
  top:25em;
  left:5em;
  width:140em;
  height:32.2em;
  border-style: solid;
  border-color:black;
  border-width:2px;
}
